#Agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    gap: 32px;
  }
  
  #Agenda .titleLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: 16px;
  }
  
  #Agenda h1.title {
    font-family: BlackRose;
    font-size: 48px;
  }

  #Agenda .Eventinho {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Kavivanar';
    font-size: 36px;
    flex-direction: column;
  }

  #Agenda .Background {
    width: fit-content;
    min-height: 2100px;
  
    z-index: 2;
  
    background-image: url("../assets/old-paper-vert.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr;

  }

  #Agenda .Evento {
    height: 100%;
    width: 100%;
    z-index: 3;
  
    background-image: url("../assets/Locais.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  

  @media (max-width: 1800px) {
    #Agenda .Background {
      grid-template-columns: 2fr 2fr 2fr 2fr;
    }
  }
  @media (max-width: 1500px) {
    #Agenda .Background {
      grid-template-columns: 1fr 2fr 2fr 1fr;
    }
  }
  @media (max-width: 1200px) {
    #Agenda .Background {
      grid-template-columns: 1fr 3fr 3fr 1fr;
    }
  }

  