:root {
  --primary-color: #458DCA;
  --secondary-color: #8B4513;
  --main-bg: #190D04;
}

@font-face {
  font-family: 'BlackRose';
  src: url('../assets/BlackRose-2Onld.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Jolly Lodger', cursive;
}

main {
  width: 100%;

  height: 100vh;

  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  padding-top: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* main > div {
  transition: display .25s;
} */

a {
  text-decoration: none;
}