header {
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;

  font-size: 36px;
  color: var(--primary-color);

  background-color: var(--main-bg);
}

header > a {
  cursor: pointer;
}

header > a:hover {
  color: var(--secondary-color);
  transition: color .25s;
}

header > a.Home {
  color: var(--secondary-color);
}