#Ingressos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    gap: 32px;
  }

#Ingressos .titulo {
  font-size: 50px;
}

#Ingressos .textoChamada {
    width: 100%;
  
    font-size: 32px;
    text-align: center;
    z-index: 2;
  
    background-image: url("../assets/old-paper.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 10% 15%;
  
    font-family: 'Kavivanar';
  
    inline-size: 60%;
  }

  @media (max-width: 1115px) {
    #Ingressos .textoChamada {
      padding: 10% 10%;
  
      inline-size: 80%;
    }
  }